.jumbotron{
    height: 350px;
}
#sidebar{
    width: 10%;
    float: left;
}
#button{
    text-align: center;
}
#word{
    width: 90%;
    float: left;
    font-size: 50px;
    text-align: center;
    
}